.todo-list{

}
#todo-list{

}
.sub-item{

}
.sub-item-link{

}
a{
  text-decoration:none;
  color:green;
}
a:hover{
  color:purple;
}
a:visited {
  color: yellow;
}
a:active {
  color: pink;
}
a:focus {
  outline: 2px solid orange;
}